@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  color: #69788a;
  margin: 0;
  font-family: Jura;
}

body {
  background-color: #010f1c;
}

h1 {
  color: white;
}

.particles {
  z-index: -1;
}
