@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  color: rgb(176, 196, 220);
  margin: 0;
  font-family: Jura;
}

body {
  background-color: #010f1c;
  font-size: 1.2em;
  line-height: 1.5;
}

h1 {
  color: white;
  margin: 1.5em 0 1em 0;
}

h2 {
  margin-bottom: 1em;
  color: #50a6d7;
}

.particles {
  z-index: -1;
}

button {
  font-size: 1em;
  color: #50a6d7;
  width: 15em;
  padding: 0.5em;
  border: 1px solid #50a6d7;
  background-color: rgba(1, 15, 28, 0.7);
  border-radius: 0.3em;
}

button:hover {
  color: rgb(1, 15, 28);
  background-color: #50a6d7;
  cursor: pointer;
}

input,
textarea {
  font-family: Jura;
  font-size: 0.9em;
  border: none;
  box-shadow: inset 0.1em 0.1em 0.1em 0.1em black;
}
