@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  color: #69788a;
  margin: 0;
  font-family: Jura;
}

body {
  background-color: #0b1828;
}

h1 {
  color: white;
}

.particles {
  z-index: -1;
}

button {
  color: #50a6d7;
  width: 15em;
  padding: 0.5em;
  border: 1px solid #50a6d7;
  background-color: rgba(1, 15, 28, 0.7);
  border-radius: 0.3em;
}

button:hover {
  color: rgb(1, 15, 28);
  background-color: #50a6d7;
  cursor: pointer;
}
